[Unit]
Description=Forward journalctl events to syslogg

[Service]
ExecStart=/bin/sh -c '/usr/whatever/jernel.sh'
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target



##### Instrukshins ####

# first you have to create the unit file
# nano /etc/systemd/system/linux-journal-syslogger.service
# because vim is no

### gotta make a shell script to handle the excessive greps ###
# see the other file in this directory jernel.sh

###### TO ADD AS A SERVICE #####
# run this to make it happen
# sudo systemctl enable --now linux-journal-syslogger.service

# to make changes you have to stop it, disable it, probably stop it again, and re-enable it , and stop 
